:root  > * {
  --md-primary-fg-color: #1e97b5;
  --md-primary-fg-color--dark: color-mix(in srgb, var(--md-primary-fg-color), black 20%);
  --md-accent-fg-color: var(--md-primary-fg-color--dark);
}

.md-nav__link--active {
  font-weight: bold;
}
.md-header {
  color: #fff;
  background-color: #013f5b;
}
